* {
  box-sizing: border-box;
  margin: 0 auto;
}

/* container for both tabs Buy and Sell */
.container {
  display: flex;
}

/* style for buy tab */
.buy {
  background-color: green;
  font-size: x-large;
  color: white;
  width: 50%;
  display: table;
}

/* style for sell tab */

.sell {
  background-color: red;
  font-size: x-large;
  color: white;
}
